/*
 * Empty Stylesheet file.
 */


* {
    -fx-font-family: Tahoma;
    
}

/*Login*/
.vb-login {
    -fx-padding: 20;
}
.vb-login Button {
    -fx-font-size: 16;
    -fx-padding:  10 20 10 20;
}
.vb-login GridPane {
    -fx-font-size: 16;
}
.vb-login-title {
    -fx-font-size: 30;
    
}

/*End Login*/

/*Main*/
.hb-main-body {
    /*-fx-background-color:  #020082;*/
    -fx-background-color: #1b202c;
}
.vb-sidebar {
    /*-fx-background-color: #1873D3;*/
    -fx-background-color: #252b3e;
}
.vb-title Label{
    -fx-padding: 10;
    -fx-background-color: #eb5757;
    -fx-text-fill: #fff;
}
.vb-sidebar .btn-select {
    -fx-background-color: #eb5757;
    -fx-text-fill: #fff;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 16;
}
.vb-sidebar .btn-select:selected,
.vb-sidebar .btn-select:hover
{
    -fx-font-size: 16;
    -fx-opacity: 0.6;
}
.bg-white{
    -fx-background-color: #fff;
}
.tableView-color{
    -fx-background-color: #1b202c;
    -fx-text-fill: #fff;
}

/*End Main*/

HBox.body {
    -fx-padding: 10;
    -fx-spacing: 10;
}

Button.btn-select {
    -fx-padding: 8;
}

GridPane.gp-input {
    -fx-: 10;
    -fx-font-size: 16;

}
GridPane.gp-input Text,
GridPane.gp-input TextField{
    -fx-font-size: 14
}

HBox{
    -fx-spacing: 10;
}

HBox.hb-select {
    -fx-padding: 10 0 10 0;
    -fx-alignment:  CENTER_RIGHT;
}
.mainFxmlClass {
    
}
